<nav>
    <div class="nav-wrapper">
        <img src="/assets/imgs/bird_brains_logo.png" alt="bird logo" id="logo-img">
        <a href="#" class="brand-logo">Bird Brains</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/highscores">HiScores</a></li>
            <li><a href="/birds">Birds</a></li>
            {{!-- <li><a href="/user">Users</a></li> --}}
        </ul>
    </div>
</nav>