{{> nav-bar }}

<div class="container">
  <div class="divider"></div>
  <div class="row">
    <div class="center-align">
      <!-- need directory path for image... -->
        <img src="public/assets/imgs/lost-bird1.jpg" alt="Lost bird says this page not found. :-( ">
    </div>
  </div>
</div>
