{{> nav-bar }}

<div class="container">
        <div class="divider"></div>
    <div class="row">
        <div class="col s8 offset-s2 center-align">
<table class="birds-table">
        <thead class="table-head">
          <tr>
              <th>Bird Name</th>
              <th>Image</th>
              <th>Points</th>
              {{!-- <th>Item Price</th> --}}
          </tr>
        </thead>

        <tbody class="table-body">
              {{#each birds}}
          <tr>

            <td>{{id}}. {{common_name}}</td>
            <td><img src="{{image_URL}}"/></td>
            <td>{{points}}</td>
            {{/each}}
          </tr>
          

        </tbody>
      </table>
      </div>
    </div>
    </div>
</div>

