{{> nav-bar }}



<button id="upload_widget" class="cloudinary-button">Upload files</button>
<p class="hide" id="successMessage">Upload was sucessful</p>
<p class="hide" id="failMessage">Upload failed</p>



<div class="container">
  <div class="row">
    <div class="col s8">

      <form class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <i class="material-icons prefix">mode_edit</i>
            <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
            <label for="icon_prefix2">First Name</label>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>

<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>
<script src="../assets/js/new-sighting.js"></script>