{{> nav-bar }}


<div class="container center-align">

<h1 class="">{{common_name}}</h1>
<h5>{{points}} points</h5>
<img alt="image of {{common_name}}" src="{{image_URL}}" class="single-bird-img" />

</div>