{{> nav-bar }}

<div class="container center-align">

  <h1 class="">{{user.user_name}}</h1>
  <h5>Score: {{user.score}} points</h5>

  <div class="divider"></div>
  <div class="row">
    <div class="col s8 offset-s2 center-align">
      <table class="sightings-table">
        <thead class="table-head">
          <tr>
            <th>Date</th>
            <th>Bird</th>
            <th>Location</th>
            <th>Points</th>
          </tr>
        </thead>
        {{#if sightings}}
        <tbody class="table-body">
          {{#each sightings}}
          {{> sighting-list}}
          {{/each}}
        </tbody>
      </table>
      {{else}}
      </table>
      <p>Welcome to Bird Brains! You have no sightings yet.</p>
      <p>To get started, add your first sighting.</p>
      {{/if}}
    </div>
  </div>
  <div class="row">
    <button class="btn bird-btn"><a href="/sighting/new?user_id={{user.id}}">Add a Sighting!</a></button>
  </div>

</div>