body {
  background-color: #f4f1de;
}

nav {
  background-color: #a4243b;
}

tr {
  padding: 10px;
}

td {
  padding: 10px;
}

.action-buttons {
  margin-top: 20px;
}

.birds-table {
  margin-top: 50px;
  border-collapse: separate;
  border-spacing: 0 10px;
}
.table-head {
  background-color: #a4243b;
  font-size: large;
}

.table-body {
  background-color: #bdbdbd;
  font-size: medium;
  font-weight: bold;
}

.bird-btn {
  background-color: #a4243b;
  border: none;
}

.bird-btn:hover {
  background-color: #df3150;
  color: white;
}

.bird-btn:focus {
  background-color: #df3150;
  outline: none;
}

.bird-tag {
  color: black;
  font-weight: bold;
  font-size: medium;
}

.bird-tag:hover {
  background-color: #918f8f;
  color: white;
}

.card-img {
  max-height: 300px;
  width: auto;
}

.card-custom {
  max-width: 300px;
  width: auto;
  height: auto;
  margin: 0px 10px 0px 10px;
  background: rgb(238, 238, 238);
  box-shadow: 10px 10px 8px #888888;
}

.card-content {
  max-width: 300px;
}

.paginate-top {
    margin-bottom: 0;
    padding-bottom: 0;
}

.sighting-form {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.single-bird-img {
  height: 500px;
}

#logo-img {
  height: 100%;
  margin-left: 1rem;
  margin-right: 1rem;
}

/* thumbnail in table  */
#bird-img {
  height: 50px;
}

.image-preview {
  padding: 20px;
  background-color: #fbf9e7;
  box-shadow: 5px 5px 3px #888888;
}

#upload_widget {
  margin-left: 15px;
}

#uploaded-image {
  margin-left: 15px;
}

h1 {
  color: #a4243b;
}

h5 {
  color: #a4243b;
  margin-bottom: 2rem;
}
