body {
    background-color: #F4F1DE;
}

nav {
    background-color: #A4243B;
}

tr {
    padding: 10px;
}

td {
    padding: 10px;

}

.birds-table {
    margin-top: 50px;
    border-collapse: separate;
        border-spacing: 0 10px;

}
.table-head {
    background-color: #A4243B;
    font-size: large;
}

.table-body {
    background-color: #BDBDBD;
    font-size: medium;
    font-weight: bold;
}

.bird-btn {
    background-color: #BDBDBD;
    border:none;
}

.bird-btn:hover {
    background-color: #918f8f;
    color: white;
}

.bird-btn:focus {
    background-color: #BDBDBD;
    outline:none;
}

.bird-tag {
    color: black;
    font-weight: bold;
    font-size: medium;
}

.bird-tag:hover {
    background-color: #918f8f;
    color: white;
}

#logo-img {
    height: 100%;
}
/* thumbnail in table  */
#bird-img {
    height: 50px;
}

h1 {

    color:#A4243B;
}

h5 {
    color:#A4243B;
    margin-bottom: 2rem;
}   


